.panel .span-1-75 {
    width: 25rem !important;
}
.panel > * {
    position: relative;
    min-width: 25rem !important;
}
p{
    margin: 0 !important;
}

.image[data-position] img {
    object-fit: contain;
}
#matilde{
    top: 25px !important;
}
@media screen and (max-width: 736px) and (orientation: portrait){
.panel.banner .image {
    height: 32rem !important;
}

}